Should we recommend CURIEs for use as identifiers?

## Background 

VMC currently uses [Identifier](https://docs.google.com/document/d/12E8WbQlvfZWk5NrxwLytmympPby6vsv60RxCeD5wc1E/edit#heading=h.kj21ornkb4u7) objects that consist of a `namespace` and `accession`.  These are be (nearly) equivalently represented as JSON (e.g., `{"accession": "GA_0123abcd", "namespace": "VMC"}`) and as a string (e.g., `"VMC:GA_0123abcd"`). A VMC `accession` is constructed as `prefix + "_" + digest`, where prefix is obtained from a mapping from types to prefixes, such as `"VMC:GA_0123abcd"` for Alleles, `"VMC:GL_0123abcd"` for Locations, etc.

The VMC string format is inspired by long-standing conventions of colon-separated `namespace`:`key` pairs, which is also consistent with the [W3C CURIE](https://www.w3.org/TR/curie/) syntax and semantics. It is anticipated that future VMC specs will adopt CURIEs as the Identifier format rather than defining its own syntax.

Briefly, a CURIE adds additional meaning to the current `namespace:accession` scheme (`prefix:reference` in CURIE parlance): `prefix` is an alias for a base IRI/URI, and `reference` is a (possibly) relative IRI/URI. A fully-qualified IRI/URI is constructed by concatenating the `prefix` and `reference`, separated by a `/`. In other words, CURIEs serve to provide a convenient shorthand for an object.

## Question

What format should the VMC Identifier have?

I advise omitting the extra delimiters unless there is a very strong reason not to. While the spec will technically support all kinds of permutations, Murphy's law will prevail in the wild: someone out there will botch what can be botched. Lowercase prefix is fine.

Eg. ga4gh:**VA**7JERW4UiCUgH8oaro2QmcpTwRBUFnjU

If you define the ``type flag`` as the alpha characters up to the first numeric digit, parsers should not have any trouble. This has the added benefit of being shorter and robust to ``type flags`` of varying lengths.

Thanks @jmcmurry. Your ears must have been tingling: we were just talking about this topic and asking you for clarification. In https://github.com/ga4gh/vr-spec/issues/32#issuecomment-479179902, you wrote "... you'll end up with equivalents you can't easily collapse because they require more ID munging to discover**" and "** If you imagine you have the full URL, it is pretty likely that someone will assume that the fragment after the final slash is the thing that needs to be contracted to a prefix."

I think what you mean is that if someone sees `ga4gh:VA/blah`, they're going to parse out `blah`, then want prepend `VA` to it, which just creates confusion. Is that right?



The problem is the the two-delim versions of any compact ID -- when botched in the wild -- are lossy. 
GA4GH:VA_0123abcd can get (improperly) converted to GA4GH:VA:0123abcd. Then what? How do you convert it back? Is the local part VA:0123abcd? or 0123abcd? Similarly, what is the prefix and what does it expand to? 

Sure, the underscore is not an insurmountable. If people read the fine print in documentation, all works; there are plenty of shops where this is done. But the edge cases are so easily avoided, hardly seems worth the trouble (unless I'm missing something fundamental about the use case). 

I'm not inclined to base technical decisions on the myriad ways that people might botch up identifiers. 

Honestly, cases like these make me even more convinced of the benefit of using a standard syntax for identifiers so that people eventually stop trying to rewrite, "clean up", or otherwise beautify ids.

We're just not going to be able to prevent people from shooting themselves in the foot. If easily avoided, sure, but I don't see it as our problem to design a spec to protect people from themselves, and especially not if we have to forego other benefits to do so.

Some of those benefits:
* Use the `prefix` (namespace) as a full base URL to an object *without* server side munging. That is, `ga4gh:VA/id` becomes `https://somewhere/VA/id` on the client, rather than requiring client or server to rewrite VA_id as the relative path. That makes life a lot easier for clients and servers.
* Clearer semantics. IMO, it's much cleaner to tell people who want the type to "take the first path element" (for which they could use a url parsing library) rather than "take the first 2 chars" or "take the chars up a delimiter".
* More extensible. By using /, we can construct paths any way we want. For example, a subtype could be `allele/snv/id`. 

For me, these are all *known* benefits of using the full power of CURIEs, and, conversely, losses if we don't do so. None of them make-or-break the spec, but I do have a hard time justifying the loss of these benefits against the possibility that people might shoot their own feet.

Summary of today's call re: identifiers:

Larry proposed that we keep the currently implemented /-delimited paths and revisit in two weeks. In that time, we might have real data about the harms of using paths and can better decide between the costs and benefits.

@jmcmurry @larrybabb @ahwagner @rrfreimuth @mbrush @javild

I think we need to get the input from other Driver Projects here–I can tell you that for the VICC this is non-trivial for our current implementation (as mentioned [above](https://github.com/ga4gh/vr-spec/issues/32#issuecomment-497729367)), and may affect our ability to spin something up in our proposed timeframe. @melissacline, @ronakypatel could we get your input on this?

I can say that this topic has also come up in Cloud, quite recently: https://github.com/ga4gh/data-repository-service-schemas/issues/263 and https://github.com/ga4gh/data-repository-service-schemas/pull/271.

Ultimately, they agreed to keep `/` in IDs only if it was URL-encoded in the ID, which is obviously not ideal.

We might not face this issue as we are not trying to dereference identifier for sequence. Although we may face an issue with dereferencing the sequence identifier (refget). I am not sure why you want to use slash in the identifier (value), let it be part of the prefix.  

namespace: ga4gh.endpoint.org/allele
id: 0123abcd

After thinking I think putting a slash in the id does not feel like an appropriate thing to do. Probable reason why base64URL uses "-" and "_" instead of **"+"** and **"/"**, making it URL safe.

I have been considering the potential gains of the current `/`-delimited embedded type ids [described above](https://github.com/ga4gh/vr-spec/issues/32#issuecomment-498393382):

> * Use the `prefix` (namespace) as a full base URL to an object _without_ server side munging. That is, `ga4gh:VA/id` becomes `https://somewhere/VA/id` on the client, rather than requiring client or server to rewrite VA_id as the relative path. That makes life a lot easier for clients and servers.
> * Clearer semantics. IMO, it's much cleaner to tell people who want the type to "take the first path element" (for which they could use a url parsing library) rather than "take the first 2 chars" or "take the chars up a delimiter".
> * More extensible. By using /, we can construct paths any way we want. For example, a subtype could be `allele/snv/id`.

I am concerned that in practice these advantages will rarely be realized, while potentially confounding adoption. I think that this strategy will unnecessarily slow or prohibit adoption of the specification for 3 reasons:

# Reason 1: Lack of Motivating Examples

AFAIK there are not other variant representation specifications that have a `/`-delimited id structure. Are there other biomedical data specifications that do? If we’re going to promote this as a _standard_ (versus an academic exercise) I think it will be necessary to point to example implementations that have used **and benefited from** ids with prescribed pathing structures built in via `/`-delimiters. In an ideal GA4GH scenario, these implementations would be (at a minimum) by Driver Projects.

I provided the [above exemplar](https://github.com/ga4gh/vr-spec/issues/32#issuecomment-497729367) from the VICC Driver Project to demonstrate how this structure (`/`-delimiters in an id) may cause problems. A reasonably simple strategy for handling these has been identified in this particular case, and will be documented in the VICC implementation in the event this issue resolves with a decision to promote the `/`-delimited identifiers. However, it is notable that the use of the `/`-delimited typed identifier **did not realize the above cited benefits**, and is more challenging to handle than a similar CURIE without embedded `/` characters. This is because the VICC system treats ids as opaque string objects for searching (alongside other variant representations), and lacking an endpoint to specifically handle the VR object structure does not realize any of these theoretical gains.

Similarly, the ClinGen Allele Registry will not be storing the computed ids, only returning them–thus also not realizing any of the above benefits in the near-term (i.e. before PRC submission), if at all.

Ultimately, I think that this process illustrates a fundamental problem: `/`-delimiters create a need for implementations to modify or create strategies to handle a rare id structure, and we lack example implementations that have asked for or intend to use this structure for the theoretical benefit. As this issue was also recently raised in the [Cloud workstream](https://github.com/ga4gh/data-repository-service-schemas/issues/263), it stands to reason that it will catch the attention of the PRC. If we push forward anyway, I think we’ll need concrete evidence that the cited gains are substantial and likely to be realized.

# Reason 2: Intrinsic Pathing Advantages Tied to REST APIs

The benefits of identifiers with built-in paths are inherently targeted at REST APIs, but our specification otherwise does not make requirements for API behaviors or endpoints. In the VR 1.0 specification, we do make some requirements about the behavior of implementations, but it is limited to the structure of the VR objects themselves and the methods for computing identifiers on them. By extending our data structures *within* ids (e.g. the above `allele/snv/id`) for the purpose of opaque/translucent identifier evaluation, we are essentially defining endpoint structure and API behavior if implementations wish to realize the primary benefit of the `/`-delimiter design choice.

# Reason 3: Downstream munging difficulties

As a variant representation specification, these ids will be used in applications beyond inter-system communications, such as in variation dataset analysis. Consequently, it is certain that data munging efforts will take place for analyzing variation data from one or more datastores. @jmcmurry [points out](https://github.com/ga4gh/vr-spec/issues/32#issuecomment-498355432) that while `/`-delimited ids are problematic, so are `_`-delimited ids, because they (and other identifiers with multiple delimiters) require special care to reconstruct. 

# Are Embedded Types Needed?

@ronakypatel has [also pointed out](https://github.com/ga4gh/vr-spec/issues/32#issuecomment-498430182) that there is no apparent reason that the corresponding object type need be embedded in the id itself. In fact, the [ideal scenario](https://github.com/ga4gh/vr-spec/issues/32#issuecomment-479179902) would be to forgo having the type embedded in the CURIE at all.

As the computed identifier is a value hash for shortcutting queries for VR objects, it stands to reason that:
1) if a queried typed id does not exist in a datastore, the id-embedded object type is of no value
2) if a queried typed id does exist in a datastore, the linked object contains the type information
3) if all ids share the same structure (as untyped ids), they could all be simultaneously queried 

So, as far as I can tell, there is no consequence to dropping the embedded type entirely. 

# Proposal
I suggest we adopt @jmcmurry’s suggestion to do away with `type` flags altogether as the id digests are [unique enough without them](https://docs.google.com/document/d/12E8WbQlvfZWk5NrxwLytmympPby6vsv60RxCeD5wc1E/edit#heading=h.2nwv6g36f686). As a side-note, I would also like to add `.vr` to the namespace for this specification, as it is probable that the GA4GH will define other CURIE ids that are outside of the vr scope. As a result of this, the computed ID for an allele would be:

**Namespace**: ga4gh.vr
**CURIE**: ga4gh.vr:\<digest>

In summary, by dropping type from the CURIE entirely the proposed opaque representation would:
* remain a CURIE, and thus in-line with identifier best practices
* maintain or improve upon all of the cited advantages of a `/`-delimited embedded-type id
  * Easy adoption by servers/clients: ga4gh.vr:id becomes https://somewhere.org/ga4gh-vr/id
  * Easiest semantics. Ids are opaque, no parsing/munging needed.
  * Fully extensible. Type isn’t embedded, so an id can be of any current or future type!
* reduce potential data munging errors in downstream efforts
* use less space (or equivalent space with less implementation effort) with minimally sized strings
* not implicitly define REST API
* be identical to [refget Checksum Algorithm](https://samtools.github.io/hts-specs/refget.html#refget-checksum-algorithm) after re-encoding to base64url, simplifying interchange between formats
  * future version of refget [could adopt this](https://github.com/ga4gh/vr-spec/issues/58#issuecomment-499241127)

Thoughts on this from the collective?

I like the style of the last proposal `ga4gh.vr:<digest>`. It gets rid of most issues mentioned in the thread, it is still easy to convert to a URL, and makes clear the sub-namespace within GA4GH.

My only question is if CURIEs, as proposed by the W3C, are supposed to represent a particular resource type or are completely arbitrary. My impression from reading the recommendation is the latter, in which case I would be okay with dropping the type; otherwise I would also be okay with something like `ga4gh.vr.allele:<digest>`

I think I broadly agree with @ahwagner @cyenyxe. Just to augment what they said: storing the id with namespace takes extra bytes, without much value. It might be trivial for a few million variants but it is significant for a few billion variants.

During the VR call today the discussion about the use of prefixes (i.e. SQ, VR, VT, etc...) in the computed identifiers came up again. As well as, the contention over the use of the slash to delimit it with respect to the computed digest value itself.  Here some of what was presented by me.

### Do we need the prefixes in the final computed identifier at all?
Is there a strong argument to why this is needed. Is there a stronger argument for dropping the prefixes all together and simply having the computed digest be the sole id portion of the identifier and the namespace prefix of the CURIE be set to ga4gh-vr. 
Example: ga4gh-vr:Zp8e9tUGfwiTRfIIij7INFQKa_Hc4ep9

If you take no other advice from me, that is OK but please please do not embed the type flag in the prefix. My comment[ from april above](https://github.com/ga4gh/vr-spec/issues/32#issuecomment-479179902) still stands.

The consensus from yesterday's [GA4GH Cloud call](https://docs.google.com/document/d/1MosGXod2clTB0-JQcD9WG7jYm6BvM5aV41TSF20UqPo/edit#heading=h.vx4stb544m2f) was to disallow slashes and only allow [IETF RFC 3986 § 2.3](https://tools.ietf.org/html/rfc3986#section-2.3) unreserved chars [A-Za-z0-9.-_~]

Hope that helps.

@jmcmurry your point in https://github.com/ga4gh/vr-spec/issues/32#issuecomment-500623542 is well taken:

> If you take no other advice from me, that is OK but please please do not embed the type flag in the prefix if you include it at all. My comment from april above still stands.

And yes, I agree that the type (if used at all) does not belong in the namespace. I'd like to clarify that the [above proposed](https://github.com/ga4gh/vr-spec/issues/32#issuecomment-499330677) `ga4gh.vr` namespace is for the VR specification, not any specific data type (I believe this is what @larrybabb also intended in the following `ga4gh-vr` proposal from https://github.com/ga4gh/vr-spec/issues/32#issuecomment-500564929). This is to avoid conflict with other standards that ga4gh may build and represent as CURIEs.


Regarding @susheel's comment above. Could you clarify that the consensus decision you made regarding slashes is related to naming concepts related to `files` and not necessarily about `Ids`? I read through most of the issues you referenced and it seemed to be mostly about dealing with the representation of hierarchical file system structures and how to flatten them without incurring the cost of including the slash in the names.

If this consensus has a direct impact on constraints related to `ids` or `identifiers` (at least the value that is after the namespace) then it would be helpful to know.

I do think the general concern about slashes may apply generally, but I think I lost the direct line of reasoning related to our context.

Today we finished discussion on this issue, and have come to the consensus to adopt @reece's proposal [above](https://github.com/ga4gh/vr-spec/issues/32#issuecomment-497500615):

`ga4gh:<type>/<digest>`

However, we REQUIRE that only the `<digest>` be used to generate a computed `Id`. This change is being introduced to allow for future backwards-compatible changes to the id structure.

The use of `ga4gh` as the namespace is being discussed with GA4GH Work Stream leadership.

As the strongest dissenting vote to adopting this proposal, I want to be clear that there are theoretical advantages to it. My primary objection is that the observed drawbacks of implementing it will outweigh these potential advantages, which I am concerned will not be realized.

In recognition of approaching deadlines for PRC submission, further discussion on this topic will be considered only after submission on June 24th, 2019.